<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% if floor_ and direction_%} {{ floor_ }}층 방향{{ direction_ }} 세탁기
        {% else %} 세탁기
        {% endif %}
      </a>
      <form class="collapse navbar-collapse" id="navbarSupportedContent" method="get" action="{% url 'k_washing:k_washingList' %}">{% csrf_token %}
        <ul class="nav justify-content-center">          
          <li class="nav-item align-self-center" style="padding:8px 5px;">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">지도</button>
          </li>

          <li class="nav-item align-self-center" style="padding:8px 5px;">
            <select class="form-select form-select-sm  align-self-center" name="floor" aria-label=".form-select-lg example" style="width: 80px; height: 30px; padding-right:10px;">
              <option selected>Floor</option>
              <option value="1">1층</option>
              <option value="2">2층</option>
              <option value="3">3층</option>
              <option value="4">4층</option>
            </select>
          </li>

          <li class="nav-item align-self-center" style="padding:8px 5px;">
            <select class="form-select form-select-sm" name="direction" aria-label=".form-select-lg example" style="width: 110px; height: 30px;">
              <option selected>Direction</option>
              <option value="1">방향1</option>
              <option value="2">방향2</option>
              <option value="3">방향3</option>
              <option value="4">방향4</option>
            </select>
          </li>

          <li class="nav-item align-self-center" style="padding:8px 5px;">
          <button type="submit" class="btn btn-outline-light">확인하기</button>
          </li>
        </ul>
      </form>
    </div>
</nav>
<table class="table">
  <tbody>
    <tr>
      <th scope="col" class="align-middle">
        <h6 style="font-weight: bold;">▶ 예상시각 | {{ time_ }} 부터 세탁가능합니다.</h6>
      </th>
      <th scope="col" class="align-middle">
        {% if request.user.is_authenticated %}
        <a href="/create/" type="button" class="btn btn-primary">예약하기</a>
        {% else %}
        <a href="/common/login/" type="button" class="btn btn-primary">예약하기</a>
        {% endif %}
      </th>
    </tr>


    <tr>
      <td scope="col" class="align-middle">
        {% if state %} <h6 style="font-weight: bold;">▶ My 세탁 | {{ time_first }}분 후에 종료됩니다.</h6>
        {% else %} <h6 style="font-weight: bold;">▶ My 세탁 | 진행중인 세탁이 없습니다.</h6>
        {% endif %}
      </td>
      <th scope="col" class="align-middle">
        <form method="post" action="{% url 'k_washing:k_washing_list_delete' k_washing_list2 %}">
          {% csrf_token %}
          <!-- <input type="hidden" name="k_washing_list2" id="k_washing_list2_data" data-k_washing_list2="{{ k_washing_list2_json|safe }}"> -->
          {% if pk_1 and state%}
            <button id="saetakend_btn" type="submit" class="btn btn-secondary">세탁종료</button>
            <!-- <button id="saetakend_btn" type="submit" class="btn btn-secondary" onclick="saetakend()">세탁종료</button> -->
          {% endif %}  
        </form>
      </th>
    </tr>
  </tbody>
</table>


{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">사용자</th>
      <th scope="col">세탁시간(분)</th>
      <th scope="col">하고 싶은 말</th>
    </tr>
  </thead>
  {% for k_washing in k_washing_list2 %}
    {% if forloop.first %} <tbody class="table-primary" style="font-weight: bold">
    {% else %} <tbody> {% endif %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ k_washing.author }}</td>
        <td>{{ k_washing.time }}</td>
        <td>{{ k_washing.content }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
        <img src="/static/map.png" width="100%"> 
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- 자바스크립트 Start -->
{% block script %}
<script type="text/javascript">
  console.log("자바스크립트 실행");
  // 데이터 속성을 통해 k_washing_list2 데이터를 가져옴
  const k_washing_list2_data = document.getElementById("k_washing_list2_data");
  const k_washing_list2_json = k_washing_list2_data.dataset.k_washing_list2;

  const deleteButtons = document.getElementsByClassName("delete");
  
  Array.from(deleteButtons).forEach(function(button) {
    button.addEventListener('click', function() {
      if (confirm("정말로 삭제하시겠습니까?")) {
        const form = document.createElement("form");
        form.method = "post";
        form.action = button.getAttribute("data-uri");  // 속성 가져오기 수정
        form.style.display = "none";
        const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0];
        const csrfInput = document.createElement("input");
        csrfInput.type = "hidden";
        csrfInput.name = "csrfmiddlewaretoken";
        csrfInput.value = csrfToken.value;
        form.appendChild(csrfInput);

        // k_washing_list2 데이터를 FormData에 추가
        const k_washing_list2_input = document.createElement("input");
        k_washing_list2_input.type = "hidden";
        k_washing_list2_input.name = "k_washing_list2";
        k_washing_list2_input.value = k_washing_list2_json;
        form.appendChild(k_washing_list2_input);

        document.body.appendChild(form);

        console.log("-----------------")
        console.log(k_washing_list2_json)
        
        // Ajax 요청으로 세탁 데이터 삭제 후 현재 페이지 새로고침
        fetch(form.action, {
          method: 'POST',
          body: new FormData(form)
        }).then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error('Error deleting data');
          }
        });
      }
    });
  });



  // function saetakend() {
  //   var btn = document.getElementById("saetakend_btn");
  //   console.log("content : " k_washing_list2)
  // }
</script>
{% endblock %}

<!-- 자바스크립트 End -->

</html>