<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% if floor_ and direction_%} {{ floor_ }}층 방향{{ direction_ }} 세탁기
        {% else %} 세탁기
        {% endif %}
      </a>
      <form class="collapse navbar-collapse" id="navbarSupportedContent" method="get" action="{% url 'k_washingList' %}">{% csrf_token %}
        <ul class="nav justify-content-center">
          <li class="nav-item align-self-center" style="padding-right: 775px;">
            {% if request.user.is_authenticated %}
              <a href="/k_washing/create/" type="button" class="btn btn-primary">예약하기</a>
            {% else %}
              <a href="/common/login/" type="button" class="btn btn-primary">예약하기</a>
            {% endif %}
          </li>
          <li class="nav-item align-self-center" style="padding:8px 5px;">
            <select class="form-select form-select-sm  align-self-center" name="floor" aria-label=".form-select-lg example" style="width: 80px; height: 30px; padding-right:10px;">
              <option selected>Floor</option>
              <option value="1">1층</option>
              <option value="2">2층</option>
              <option value="3">3층</option>
              <option value="4">4층</option>
            </select>
          </li>

          <li class="nav-item align-self-center" style="padding:8px 5px;">
            <select class="form-select form-select-sm" name="direction" aria-label=".form-select-lg example" style="width: 110px; height: 30px;">
              <option selected>Direction</option>
              <option value="1">방향1</option>
              <option value="2">방향2</option>
              <option value="3">방향3</option>
              <option value="4">방향4</option>
            </select>
          </li>

          <li class="nav-item align-self-center" style="padding:8px 5px;">
          <button type="submit" class="btn btn-outline-light">확인하기</button>
          </li>
        </ul>
      </form>
    </div>
</nav>

<br/>
{% if state %} <h6 style="font-weight: bold;">* My 세탁 | {{ time_first }}분 후에 종료됩니다.</h6>
{% else %} <h6 style="font-weight: bold;">* My 세탁 | 진행중인 세탁이 없습니다.</h6>
{% endif %}
<hr/>
<h6 style="font-weight: bold;">* 예상시각 | {{ time_ }} 부터 세탁가능합니다.</h6>
<hr/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">사용자</th>
      <th scope="col">남은 세탁 시간</th>
      <th scope="col">하고 싶은 말</th>
    </tr>
  </thead>
  {% for k_washing in k_washing_list2 %}
    {% if forloop.first %} <tbody class="table-primary" style="font-weight: bold">
    {% else %} <tbody> {% endif %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ k_washing.author }}</td>
                <td>{{ k_washing.time }}</td>
                <td>{{ k_washing.content }}</td>
            </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}